site_name: pgEdge RAG Server

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - js/mermaid.min.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search
  - redoc-tag

theme:
  name: material
  custom_dir: docs/overrides
  favicon: img/favicon.ico

  logo_dark_mode: 'img/logo-dark.png'
  logo_light_mode: 'img/logo-light.png'

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.prune
    - navigation.top
    - toc.follow

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  generator: false

copyright: Copyright &copy; 2025 pgEdge, Inc
repo_url: https://github.com/pgEdge/pgedge-rag-server

nav:
  - Getting Started:
      - Introduction: index.md
      - Configuration: configuration.md

  - Reference:
      - API Reference: api/reference.md
      - API Browser: api/browser.md
      - Architecture: architecture.md

  - Changelog: changelog.md
