[Unit]
Description=A simple API server for performing Retrieval-Augmented Generation (RAG) of text based on content from a PostgreSQL database using pgvector
After=network.target postgresql.service

[Service]
User=pgedge
Group=pgedge
WorkingDirectory=/var/lib/pgedge/rag-server@MAJOR@
ExecStart=@INSTALLROOT@/bin/pgedge-rag-server -config /etc/pgedge/@PKGNAME@.yaml
StandardOutput=append:/var/log/pgedge/rag-server@MAJOR@/pgedge-rag-server.log
StandardError=append:/var/log/pgedge/rag-server@MAJOR@/pgedge-rag-server.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
